.name-input {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.name-input input {
    padding-left: 10px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid var(--colorMain);
}

.name-input input:focus {
    outline: 1px solid var(--colorMain);
}

.title-chat{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}

#indicator{
    font-size: 15px;
    color: rgb(255, 0, 0);
}

#btnDisconn i {
    color: rgb(59, 59, 59);
}

.chat {
    padding: .6rem;
    position: fixed;
    border: 1px solid #aaa;
    background: white;
    height: 40%;
    max-width: 400px;
    border-radius: 10px;
    bottom: 1rem;
    right: 1rem;
    width: 25%;
    box-shadow: 0px 0px 10px -5px;
}

.header-chat {
    display: flex;
    justify-content: space-between;
}

.header-chat button{
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.container-msg {
    background: whitesmoke;
    width: 100%;
    height:75%;
    overflow:auto;
    box-sizing: border-box;
}

#container-connect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

#container-connect button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: var(--colorMain);
    color: white;
    font-size: 20px;
    height: 30px;
    padding: 1rem;
    border-radius: 30px;
    cursor: pointer;
}

#container-connect button:active{
    background: rgb(68, 68, 68);
}

#form {
    position: fixed;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 2rem;
    width: 23%;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    top: 91%;
    left: 74%;
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.1rem;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.1rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages>li {
    padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
    background: #efefef;
}

/**** CHAT OCULTO ****/

.chat-ocult {
    height: 50px;
    width: 50px;
    background: var(--colorMain);
    border-radius: 50%;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    cursor: pointer;
    border: 3px solid white;
}

/**** SCROLL ****/

.container-msg::-webkit-scrollbar {
    -webkit-appearance: none;
}

.container-msg::-webkit-scrollbar:vertical {
    width:10px;
}

.container-msg::-webkit-scrollbar-button:increment,.container-msg::-webkit-scrollbar-button {
    display: none;
} 

.container-msg::-webkit-scrollbar:horizontal {
    height: 10px;
}

.container-msg::-webkit-scrollbar-thumb {
    background-color: var(--colorMain);
    border-radius: 20px;
    border: 2px solid #ffffff;
}

.container-msg::-webkit-scrollbar-track {
    border-radius: 10px;  
}