@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

:root {
    /*COLORS*/
    --colorMain: #29292a;
    --colorMainLight: #898989;
    --colorMainFocus: #1a1a1b;
    --colorSecond: #008cff;
    --colorBase: #ffffff;
}

body {
    background: lightgray;
}

body a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

/****HEADER****/

.container-header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    background: var(--colorMain);
}

.content-header {
    height: 100%;
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.content-header .text-logo {
    color: white;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: var(--colorSecond);
}

.content-header img {
    height: 40px;
}

.container-logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-options ul {
    display: flex;
    list-style: none;
}

.header-options a {
    text-decoration: none;
    font-weight: 400;
    color: white;
    padding: 1rem;
}

.header-options ul li:hover a {
    color: var(--colorSecond);
}

/****MAIN****/
.container-main {
    min-height: 80vh;
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 2rem;
}

.content-main {
    margin: 0 auto;
    width: 90%;
}

.content-main h1 {
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--colorMainLight);
}

.content-main h3 {
    font-size: 25px;
    font-weight: 400;
}

/****CONTAINER SLIDE****/
.nav-slides-search {
    margin: 0 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    width: 145px;
    background-color: white;
    border-radius: 30px;
} 
.search button:focus{
    outline: 1px solid var(--colorMain);
}

.nav-slides-search input{  
    height: 30px;
    width: 100px;
    padding-left: 10px;
    margin-right: 1px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
}

.nav-slides-search input:focus{
    outline: 1px solid var(--colorMain);
}

.nav-slides-search button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    cursor: pointer;
    background: white;
}

.container-grid {
    display: grid;
    gap: 2rem;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
}

.container-grid button {
    border: none;
}

.container-slide {
    background: white;
    height: 230px;
    width: 350px;
    box-shadow: 0px 0px 20px -20px black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 90%;
}

.content-slide button {
    border: none;
    background: none;
    cursor: pointer;
}

.img-slide {
    height: 80%;
    padding-bottom: 15px;
    border-bottom: 1px solid #898989;
}

.title-slide {
    padding-top: 5px;
    font-size: 20px;
    font-weight: 400;
    color: var(--colorSecond);
    display: flex;
    justify-content: center;
    transition: 0.2s;
}

.container-slide:hover {
    box-shadow: 0px 0px 10px -5px black;
}

.container-slide:hover .title-slide {
    font-size: 22px;
}

/**** FOOTER ****/

.container-footer {
    height: 120px;
    background: var(--colorMain);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.container-footer h4{
    color: white;
    font-weight: 400;
    font-style: italic;
}

.container-footer img{
    height: 40px;
}

/**** RESULTADO DE BUSQUEDA ****/

#result button {
    border: none;
}